 .search-input {
  align-items: center;
  border-radius: 999px;
  border: 1px solid lightgray;
  display: flex;
  height: 30px;
  max-width: 560px;
  padding: 10px 20px;
  width: 75vw;
}

.search-input > input {
  border: none;
  flex: 1;
  font-size: medium;
  padding: 10px 20px;
}

.search-input > input:focus {
  outline-width: 0;
}

.search-input:hover {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1),
    -1px -0.5px 5px 1px rgba(0, 0, 0, 0.1);
}
.search-input:focus-within {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1),
    -1px -0.5px 5px 1px rgba(0, 0, 0, 0.1);
}

.search-input-icon {
  color: gray;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-buttons button {
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  color: #5f636b;
  margin: 5px;
  padding: 7px 15px;
  text-transform: inherit;
}

.search-buttons button:hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

.hidden button {
  display: none !important ;
}
